#SearchBar {
    display: flex;
    justify-self: center;
    max-width: 90%;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #d7dadc;
    background-color: transparent;
    text-align: left;
    padding: 0px 10px;
    outline: none;
}

#SearchBar > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    color: white;
}

#SearchBar > .clear-search-button {
    position: relative;
    width: 1em;
    right: -8px;
    background-color: transparent;
    border: none;
    color: #d7dadc;
    font-size: 16px;
    cursor: pointer;
}

#SearchBar > .clear-search-button:hover {
    color: #ff4500;
    
}

#SearchBar > .clear-search-button:disabled {
    color: transparent;
    cursor: default;
}

#SearchBar > .search-button {
    position: relative;
    right: -12px;
    margin-left: 5px;
    width: 30px;
    padding: 0;
    border: none;
    border-radius: 0 10px 10px 0;
    color: var(--primary-color);
    background-color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}